*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 2rem;
    padding:1rem 0;
    font-weight:bolder;
}
h3{
    font-size: 1rem;
    padding-bottom: 0.5rem;
    font-weight: normal;
}
.bgimage{
    background-image: url('../images/bg1.png');
    color: #fff;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.menu-box{
    background-color:#694A34;
    text-align: center;
    color:white;
    background-image: url('../images/about/background.jpg');
}
.crosel{
    background-image: url('../images/about/carousel/crouselbg.jpg');
    color: white;
}
/* .home{
    background-image: url('../images/bg1.png');
    color: #fff;
} */


.footer{
    color: white;
}

.dialog{
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #6F4E37 50%, #e2cca4 50%);
}