.carousel{
    display: flex;
    justify-content: center;
}
.carousel .slide img{
    width:'auto';
}

@media only screen and (max-width:900px){
    .carousel{
        height: 80vh;
    }
    .carousel .slide img{
        margin: 10vh auto;
        width:100vw;
    }
}

@media only screen and (max-width:700px){
    .carousel{
        height: 40vh;
    }
    .carousel .slide img{
        margin: 10vh auto;
        width:100vw;
    }
}

@media only screen and (max-width:500px){
    .carousel{
        height: 50vh;
    }
    .carousel .slide img{
        margin: 10vh auto;
        width:100vw;
    }
}